.hero-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid;
}

.report-calls {
    padding-top: 50px;
    margin-right: 179px;
}

.report-heading {
    margin: 0;
    padding-bottom: 40px;
    font-size: 42px;
    font-family: Roboto, "Helvetica Neue", ;
}

.report-box {
    border-left: 2px solid;
    margin-bottom: 23px;
    opacity: 0.4;
}

.report-text {
    width: 470px;
    margin: 0;
    line-height: initial;
    margin-left: 27px;
}

.hero-btn {
    width: 184px;
    height: 46px;
    text-transform: uppercase;
    border: none;
    background-color: rgb(234, 98, 92);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.hero-box {
    width: 400px;
    height: 390px;
}

.information-list {
    width: 880px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 0;
    list-style-type: none;
}

.information-item {
    width: 250px;
}

.information-heading {
    margin: 0;
    margin-top: 18px;
    margin-bottom: 19px;
    text-transform: uppercase;
    font-size: 16px;
}

.information-text {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
}

.learn-more {
    color: rgb(234, 98, 92);
    text-transform: uppercase;
    margin: 0;
    font-size: 18px;
}

.learn-more::before {
    content: '—';
    top: 11px;
    position: relative;
    left: 0;
    font-size: 50px;
    color: rgb(246, 126, 126);
}

.learn-more:hover {
    font-size: 20px;
}

.point-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60px;
}

.point-item::marker {
    color: rgb(0, 255, 255);
}